/* ==========================================================================
   =variables
   ========================================================================== */

   $blue    : #588e90;
   $green   : #95a284;
   $orange  : #b78765;
   
   
   /* =size
      ========================================================================== */
   
   $layout-mobile: 640px;
   $layout-tablet: 768px;
   $layout-desktop: 1280px;
   $layout-desktop-from: 1280px;
   
   $size-mobile: 750px;
   $size-mobile-min: 0px;
   
   $size-tablet: 768px;
   $size-tablet-min: 751px;
   
   $size-desktop: 1024px;
   $size-desktop-min: 769px;
   $size-desktop-full: 1440px;
   
   $size-desktop-fullhd: 1920px;
   
   $size-retina: 1981px;